In [3]:
import pandas as pd
import numpy as np
import os
import glob

In [17]:
# get all csv file paths from data folder
csv_files = glob.glob("data/CGMacros-*.csv")  

# columns we want to keep
selected_columns = ["Timestamp", "Libre GL", "Dexcom GL", "HR", "Calories", "Meal Type", "Carbs", "Protein", "Fat", "Fiber"]


# list storing data frames per participant
data_list = []

for file in csv_files:
    df = pd.read_csv(file)
    df["subject"] = int(file.split("-")[-1].split(".")[0]) 
    df = df[["subject"] + selected_columns]
    data_list.append(df)  

merged_df = pd.concat(data_list, ignore_index=True)

In [20]:
merged_df.to_csv("all_data.csv", index=False)

In [21]:
merged_df

,subject,Timestamp,Libre GL,Dexcom GL,HR,Calories,Meal Type,Carbs,Protein,Fat,Fiber
0,1,2020-05-01 10:30:00,84.000000,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-05-01 10:31:00,84.133333,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-05-01 10:32:00,84.266667,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-05-01 10:33:00,84.400000,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2020-05-01 10:34:00,84.533333,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
687575,49,2025-05-22 00:03:00,262.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687576,49,2025-05-22 00:04:00,261.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687577,49,2025-05-22 00:05:00,261.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687578,49,2025-05-22 00:06:00,260.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687579,49,2025-05-22 00:07:00,260.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN